.nav {
  text-align: center;
  position: relative;
  background-color: $primary-color-blue;
  display: none;

  &__visible {
    background-color: #0c5899;
    display: block;
    margin: 6rem -2rem;
    padding: 9rem 6rem;
    z-index: 1000;
  }

  @include md {
    float: right;
    display: flex;
    margin: 0;
    margin-top: 1rem;
  }
  &__button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    top: 1rem;
    right: 1rem;
  }
  &__icon {
    position: absolute;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-green;
      display: inline-block;
      top: 2.5rem;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }

    @include md {
      display: none;
    }
  }

  &__menu {
    margin-top: 1rem;
  }
  &__item {
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    @include md{
      display: inline;
      margin-right: 3.5rem;
    }
    @include lg {
      margin-right: 4.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
  &__languages {
    font-family: inherit;
    color: $color-white;
    background-color: transparent;
    border: 1px solid $color-white;
    width: 18rem;
    height: 4rem;
    font-size: 1.4rem;
    text-align: left;
    position: relative;
    border-radius: 2px;
    margin: 0 auto;

    &-img {
      width: 3rem;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 12%;
      transform: translate(-50%, -50%);
    }
    &-text {
      display: inline-block;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
    }
    &-icon {
      width: 4rem;
      position: absolute;
      top: 50%;
      left: 86%;
      transform: translate(-50%, -50%);
    }
  }
}
