//Colors
$primary-color-blue: #0c5899;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #00BFA5;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
